/* NDA, last edit: July 28 2023*/

/* Main body */
body {
    background-color: rgba(14, 20, 33, 0.957);
    display: flex;
    justify-content: center;
    color: rgb(230, 230, 230);
    flex-direction: column;
    font-family: 'Dai Banna SIL', serif;
    --shadow-color: #383838;
}

hr {
    width: 100%;
}

#bubbles {
    background-image: url("../resources/background/bubble.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    height: 100%;
    z-index: 3; 
}

/* Top Text (Name and Bio) */
.topContainer {
    display: flex;
    margin-top: 15px;
}

.leftContainer {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.rightContainer {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#nameText {
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.bioContainer {
    display: flex;
    flex-direction: column;
}

.bioText {
    justify-content: left;
    width: 97.5%;
    text-align: center;
    font-size: 2rem;
    display: flex;
    margin: 20px 10px;
}

/* Bio Image */
.topImgContainer {
    display: flex;
    border: 3px solid white;
    box-shadow: 2px 2px var(--shadow-color);
}

#bioImg {
    max-width: 100%;
    height: auto;
    min-width: 250px;
    max-width: 750px;
}

/* Contacts */
.contactsContainer {
    display: flex;   
    flex-direction: column;
}

.contactBoxContainer {
    display: flex;
    max-width: 100%;
}

.contactBox {
    display: flex;
    background-color: rgba(7, 83, 83, 0.507);
    z-index: 2;
    max-width: 400px;
    margin: auto;
    align-items: center;
    padding: 10px 20px 10px 10px;
    box-shadow: 2px 2px var(--shadow-color);
}

.contactBox:hover {
    background-color: rgba(19, 197, 197, 0.507);
    cursor: pointer;
}

#contactMeText {
    font-size: 3rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#contactIcon {
    display: flex;
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

#contactText {
    display: flex;
    font-size: 2rem;
    margin: 0 auto;
}

/* Projects */

.projectContainer {
    display: flex;
    flex-direction: column;
    padding: 0 1.25%;
    margin-bottom: 35px;
}

.projectHeaderBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#projectHeaderText {
    font-size: 3rem;
    text-align: center;
}

.projectBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.projectTitleContainer {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

#projectTitleText {
    display: flex;
    font-size: 3.425rem;
    justify-self: end;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 0px;
}

#projectSubtitleText {
    display: flex;
    font-size: 1.5rem;
    color: grey;
}

.projectBodyContainer {
    display: flex;
}

.projectLeftContainer {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.projectRightContainer {
    display: flex;
    flex-direction: column;
    padding-left: 1.25%;
}

.projectLinkContainer {
    display: flex;
}

.projectLinkBox {
    background-color: rgba(7, 83, 83, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    padding: 0px 15px 0px 15px;
    box-shadow: 2px 2px var(--shadow-color);
}

.projectLinkBox:hover {
    background-color: rgba(19, 197, 197, 0.507);
    cursor: pointer;
}

#projectDescriptionText {
    font-size: 1.8rem;
}

#projectLinkText {
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

img[class^='projectImg'] {
    display: flex;
    max-width: 580px;
    max-height: 350px;
    margin: 0 10px;
    border: 3px solid white;
    box-shadow: 2px 2px var(--shadow-color);
}

/* Arrows */
  
.arrowLeft {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid white;
    top: 50%;
    margin-left: auto;
}

.arrowRight {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-left:20px solid white;
    top: 50%;
    margin-right: auto
}

div[class^='arrow']:hover {
    cursor: pointer;
}

/* making projectTitle column display at 1500px */
@media screen and (max-width: 1500px) {
    /* projects */
    .projectTitleContainer {
        flex-direction: column;
    }

    #projectSubtitleText {
        margin-top: 0px;
        margin-bottom: 2px;
    }
}

/* switching to mobile configuration - tablet sized fonts */

@media screen and (max-width: 1325px) {

    /* fixing centering issues across mobile devices */
    html, body {
        overflow-x: hidden;
        padding: 0 5px;
    }

    /* top text */

    .topContainer {
        flex-direction: column;
    }

    .leftContainer {
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: end;
    }

    .rightContainer {
        max-width: 100%;
    }
    
    #nameText {
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    #bioText {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        align-items: flex-end;
        padding-left: 5px;
        padding-right: 5px;
        overflow-x: visible;
    }

    /* contacts */

    #contactMeText {
        font-size: 3em;
    }

    .contactBoxContainer {
        justify-content: center;
        margin-right: 5px;
        margin-left: 5px;
        max-width: 95%;
    }

    .contactBox {
        scale: 0.8;
        margin-bottom: 5px;
        align-items: center; 
        margin: 0px;
    }

    #contactText {
        font-size: 1.75em;
    }

    /* projects */

    .projectBox {
        align-items: center;
    }

    .projectTitleContainer {
        align-items: center;
    }

    #projectTitleText {
        justify-self: center;
        text-align: center;
    }

    #projectSubtitleText {
        justify-self: center;
        text-align: center;
    }

    .projectBodyContainer {
        flex-direction: column;
        justify-content: center;
    }

    .projectLeftContainer {
        align-self: center;
    }

    #projectDescriptionText {
        text-align: center;
    }

    .projectLinkContainer {
        justify-content: center;
        align-items: center;
    }

    .projectLinkBox {
        max-height: 80px;
    }

    #projectLinkText {
        font-size: 1.6em;
    }

    img[class^='projectImg'] {
        min-width: 200px;
        max-width: 100%;
        height: auto;
    }
}

/* switching to mobile configuration - phone sized fonts */

@media screen and (max-width: 700px) {
    #nameText {
        font-size: 2em;
    }

    #bioText {
        font-size: 1.2em;
    }

    #contactMeText {
        font-size: 1.8em;;
    }

    #projectHeaderText {
        font-size: 2.15em
    }

    #projectTitleText {
        font-size: 2.5em;
    }

    #projectSubtitleText {
        font-size: 1.5em
    }

    #projectDescriptionText {
        font-size: 1.2em
    }
}